<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello world</title>
</head>
<body>
    <h2> Kardia bootcamp</h2>
    <form action="/getdata"></form>
    <button onclick="getData()"> Click to get random string from server </button>
    <p id = "demo"></p>
    <script>
        function getData(){
            console.log("getData");
            //document.getElementById("demo").innerHTML = "Hello World";
        }
    </script>
</body>
</html>